@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";

// Post
.post-meta {

}

.post-meta-item {
	display: inline-flex;
	align-items: center;
}

.post-meta-icon {
	margin-right: px-to-rem( 5px );
	margin-top: -1px;
	font-size: 1.2em;
}