@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../base/mixins";
@import "../bootstrap/scss/mixins";


// Base
.image {

}

.image-responsive {
	display: inline-block;
	max-width: 320px;
}

.image-wpap-1 {
	position: relative;
	display: inline-block;
	margin-top: 15px;

	&::before {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		content: '';
		background-color: $secondary;
		transform: translate( -15px, 15px );
	}
}

.image-hover {
	display: inline-block;
	overflow: hidden;
	background-color: $dark;
	transition: $transition-base;

	img {
		transition: inherit;
	}

	&:hover {
		opacity: .8;

		img {
			transform: translateX( -30px );
		}
	}
}

// Media
@include media-breakpoint-up( md ) {
	.image-responsive {
		max-width: 100%;
	}

	.image-3 {
		margin-top: px-to-rem( 68px * $xs-multiplier );
	}
}

@include media-breakpoint-up( lg ) {
	.image-3 {
		margin-top: px-to-rem( 68px * $lg-multiplier );
	}

	.image-wpap-1 {
		margin-top: 15%;

		&::before {
			transform: translate( 21%, -12% );
		}
	}
}

@include media-breakpoint-up( xxl ) {
	.image-3 {
		margin-top: px-to-rem( 68px );
	}

	.image-true-size {
		max-width: none;
	}

	.image-wpap-1 {
		margin-top: 15%;

		&::before {
			transform: translate( 21%, -12% );
		}
	}
}