@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../base/mixins";
@import "../bootstrap/scss/mixins";


// Base
.list.list-md {
	.list-item + .list-item { margin-top: px-to-rem( 14px * $xs-multiplier ) }
}


// Modifying
.list-typography {
	.list-item + .list-item {
		margin-top: px-to-rem( 30px );
	}
}


.list-inline-item {
	display: inline-block;

	&:not(:last-child) {
		margin-right: px-to-rem( 20px );
	}
}



// List marked
.list-marked {
	letter-spacing: .1em;

	> .list-item {
		padding-left: px-to-rem( 15px );

		&::before {
			display: inline-block;
			content: '-';
			margin-left: px-to-rem( -19px );
			margin-right: px-to-rem( 6px );
		}
	}

	.list-item + .list-item {
		margin-top: px-to-rem( 19px * $xs-multiplier )
	}

	.list-marked {
		margin-left: 3em;
	}
}


// Ordered
.list-ordered {
	counter-reset: li;

	> .list-item {
		padding-left: px-to-rem( 20px );

		&::before {
			content: counters(li,".")".";
			counter-increment: li;
			display: inline-block;
			min-width: px-to-rem( 20px );
			margin-left: px-to-rem( -20px );
			padding-right: px-to-rem( 5px );
			color: $gray-400;
		}
	}

	.list-item + .list-item {
		margin-top: px-to-rem( 19px * $xs-multiplier )
	}

	.list-ordered {
		margin-left: 2.3em;
	}
}


// List icon
.list-icons {
	.list-item {
		display: flex;
	}

	.list-icon {
		margin-right: px-to-rem( 7px );
		font-size: px-to-rem( 18px );
		line-height: 1.3;
		color: $primary;
	}

	.list-item + .list-item {
		margin-top: px-to-rem( 13px );
	}
}


// List 1
.list-1 {
	> .list-item {
		padding-left: px-to-rem( 14px );

		&::before {
			display: inline-block;
			margin-left: px-to-rem( -26px );
			min-width: px-to-rem( 26px );
			font-family: "Material Design Icons";
			font-size: 1.2em;
			content: '\f222';
			vertical-align: middle;
			color: $primary;
		}
	}

	.list-item + .list-item {
		margin-top: px-to-rem( 13px )
	}
}


// Spacing
* + .list {
	margin-top: 15px;
}

* + .list-marked {
	margin-top: px-to-rem( 38px * $xs-multiplier );
}

p + .list-marked {
	margin-top: px-to-rem( 27px * $xs-multiplier );
}


// Media
@include media-breakpoint-up( lg ) {
	* + .list {
		margin-top: px-to-rem( 30px * $lg-multiplier );
	}

	* + .list-marked {
		margin-top: px-to-rem( 38px * $lg-multiplier );
	}

	p + .list-marked {
		margin-top: px-to-rem( 27px * $lg-multiplier );
	}

	.list.list-md {
		.list-item + .list-item { margin-top: px-to-rem( 14px * $lg-multiplier ) }
	}

	.list-marked,
	.list-ordered {
		.list-item + .list-item {
			margin-top: px-to-rem( 19px * $lg-multiplier )
		}
	}
}

@include media-breakpoint-up( xxl ) {
	* + .list {
		margin-top: px-to-rem( 30px );
	}

	* + .list-marked {
		margin-top: px-to-rem( 38px );
	}

	p + .list-marked {
		margin-top: px-to-rem( 27px );
	}

	.list.list-md {
		.list-item + .list-item { margin-top: px-to-rem( 14px ) }
	}

	.list-inline-item {
		&:not(:last-child) {
			margin-right: px-to-rem( 50px );
		}
	}

	.list-marked,
	.list-ordered {
		.list-item + .list-item {
			margin-top: px-to-rem( 19px )
		}
	}

	.list-typography {
		.list-item + .list-item {
			margin-top: px-to-rem( 44px );
		}
	}
}
