@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";


// Modifying
.section-one-screen {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


// Sizing
.section-xs {
	padding: 30px 0;
}

.section-sm,
.section-md,
.section-lg,
.section-xl,
.section-xxl {
	padding: 60px 0;
}

.breadcrumb-section + .section {
	padding-top: 0;
}


// Media
@include media-breakpoint-up(md) {
	.section-md,
	.section-lg,
	.section-xl,
	.section-xxl {
		padding: 70px 0;
	}
}

@include media-breakpoint-up( lg ) {
	.section-md {
		padding: 80px;
	}

	.section-xl {
		padding: 100px;
	}

	.rd-navbar-wrap + .section:not( .breadcrumb-section ) {
		padding-top: px-to-rem( 66px );
	}
}

@include media-breakpoint-up( xl ) {
	.section-md {
		padding: 110px;
	}

	.section-xl {
		padding: 130px;
	}

	.breadcrumb-section + .section {
		padding-top: px-to-rem( 50px );
	}
}

@include media-breakpoint-up( xxl ) {
	.section-md {
		padding: 175px 0;
	}

	.section-xl {
		padding: 257px 0;
	}

	.breadcrumb-section + .section {
		padding-top: px-to-rem( 100px );
	}
}


// One screen section
.section-fullheight {
	@include flex-min-height( 100vh, '.section-fullheight-inner' );
}

.section-fullheight-inner {
	justify-content: space-around;
	text-align: center;
}