//- Comment
	@param {object} obj - data object
	@param {string} data.img - comment image
	@param {string} data.name - meta name
	@param {string} data.time - meta time
	@param {string} data.text - quote text
mixin comment-simple( data )
	.comment.comment-simple&attributes( attributes )
		.comment-left
			.comment-icon.mdi-account
		.comment-body
			ul.comment-meta.list.text-400.xsmall
				li.list-item= 'By' + data.meta[0]
				li.list-item= data.meta[1]
			.comment-text= data.comment
			a.comment-link( href='#' )
				span Reply
				span.comment-link-icon.mdi-arrow-right
			if (block)
				block
