@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";


// Base
.pag {
	display: flex;
	align-items: center;
	list-style-type: none;
	padding-left: 0;
}


// Spacing
* + .pag { margin-top: px-to-rem( 40px ); }


// Media
@include media-breakpoint-up( lg ) {
	* + .pag { margin-top: px-to-rem( 56px ); }
}


// Layouts
@import "pag-1";