.widget
	.widget-title.h4.text-uppercase Categories
	.widget-body
		ul.list.list-marked.widget-list.title-1
			li.list-item.widget-list-item: a.widget-list-link( href='#' ) News
			li.list-item.widget-list-item: a.widget-list-link( href='#' ) Tips
			li.list-item.widget-list-item: a.widget-list-link( href='#' ) Photo Shoot
			li.list-item.widget-list-item: a.widget-list-link( href='#' ) Techniques
			li.list-item.widget-list-item: a.widget-list-link( href='#' ) Equipment
			li.list-item.widget-list-item: a.widget-list-link( href='#' ) Other
