@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";

// Spacing
* + .widget-body {
	margin-top: px-to-rem( 18px * $xs-multiplier );
}

.widget + .widget {
	margin-top: px-to-rem( 48px * $xs-multiplier );
}

// Media
@include media-breakpoint-up( lg ) {
	* + .widget-body {
		margin-top: px-to-rem( 18px * $lg-multiplier );
	}

	.widget + .widget {
		margin-top: px-to-rem( 48px * $lg-multiplier );
	}
}

@include media-breakpoint-up( xxl ) {
	* + .widget-body {
		margin-top: px-to-rem( 18px );
	}

	.widget + .widget {
		margin-top: px-to-rem( 48px );
	}
}


// Layouts
@import "widget-list";