// Base
.counter-boxed {
	border: 1px solid $border-color;
	padding: px-to-rem( 30px, 15px );
	border-radius: $border-radius;

	* + .counter-title { margin-top: px-to-rem( 4px ) }
}


// Media
@include media-breakpoint-up( lg ) {
	.counter-boxed {
		padding: px-to-rem( 50px, 30px );

		* + .counter-title { margin-top: px-to-rem( 8px ) }
	}
}
