@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";


// Base
.counter-value,
.counter-title {
	color: $gray-900;
}

.counter-value {
	font-weight: $font-weight-base;
}

.counter-title {
	text-transform: capitalize;
}

.context-dark {
	.counter-title {
		color: rgba( $white, .8 );
	}
}

// Layouts
@import "counter-simple";
@import "counter-boxed";
