//- Thumbnail
	@param {object} data - data object
	@param {string} data.img - thumbnail image
mixin thumbnail( data )
	// Thumbnail
	.thumbnail.thumbnail-simple&attributes( attributes )
		a.thumbnail-media.lightgallery-item( href=`images/${data.imgOriginal}.jpg` )
			+img( data.img ).thumbnail-img
			span.thumbnail-caption