@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../base/mixins";
@import "../bootstrap/scss/mixins";


// Base
.thumbnail {

}

.thumbnail-simple {
	position: relative;
	display: inline-block;
	max-width: 320px;

	.thumbnail-caption,
	&::before,
	&::after {
		position: absolute;
	}

	.thumbnail-caption {
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		background-color: rgba( $primary, .3 );
	}

	&::before,
	&::after {
		left: px-to-rem( 30px );
		top: px-to-rem( 30px );
		right: px-to-rem( 30px );
		bottom: px-to-rem( 30px );
		z-index: 1;
		content: '';
		pointer-events: none;
	}

	&::before {
		border-top: 1px solid $white;
		border-bottom: 1px solid $white;
	}

	&::after {
		border-right: 1px solid $white;
		border-left: 1px solid $white;
	}
}

.desktop {
	.thumbnail-simple {
		.thumbnail-caption {
			transition: $transition-base;
		}

		.thumbnail-caption {
			opacity: 0;
		}

		&::before,
		&::after {
			transition: .35s;
		}

		&::before {
			transform: scale( 0, 1 );
		}

		&::after {
			transform: scale( 1, 0 );
		}

		&:hover {
			.thumbnail-caption {
				opacity: 1;
			}

			&::before,
			&::after {
				transform: scale( 1 );
			}
		}
	}
}

// Media
@include media-breakpoint-up( sm ) {
	.thumbnail-simple {
		max-width: 100%;
	}
}

@include media-breakpoint-up( xxl ) {
	.thumbnail-1 {
		min-width: 850px;
	}
	.thumbnail-2 {
		min-width: 470px;
	}
}