// Variables
$iso-filter-fsz: $h6-font-size;
$iso-filter-color: $dark;
$iso-filter-active-color: $primary;
$iso-filter-hover-color: $iso-filter-active-color;
$iso-filter-border-color: $primary;


// Base
.isotope-line {
	text-align: center;

	.isotope-filter {
		position: relative;
		margin-right: 25px;
		padding: .3em 0 0;
		font-weight: 500;
		letter-spacing: .1em;
		color: $iso-filter-color;

		&:last-child {
			margin-right: 0;
		}

		&:before {
			position: absolute;
			left: 0;
			top: 0;
			width: 0;
			height: 1px;
			background-color: $iso-filter-border-color;
			content: '';
			transition: $transition-base;
		}

		&:hover,
		&.active {
			color: $iso-filter-active-color;

			&:before {
				width: 100%;
			}
		}
	}

	* + .isotope { margin-top: px-to-rem( 47px * $xs-multiplier ); }
}

* + .isotope-line { margin-top: px-to-rem( 82px * $xs-multiplier ); }


// Media
@include media-breakpoint-up( md ) {
	.isotope-line {
		.isotope-filter {
			font-size: $iso-filter-fsz * .8;
		}
	}
}

@include media-breakpoint-up( xl ) {
	.isotope-line {
		.isotope-filter {
			margin-right: px-to-rem( 32px * $lg-multiplier );
			font-size: $iso-filter-fsz * .9;
		}

		.custom-col-offset {
			margin-right: 8.3333%;
		}

		* + .isotope { margin-top: px-to-rem( 47px * $lg-multiplier ); }
	}

	* + .isotope-line { margin-top: px-to-rem( 82px * $lg-multiplier ); }
}

@include media-breakpoint-up( xxl ) {
	.isotope-line {
		.isotope-filter {
			margin-right: px-to-rem( 32px );
			font-size: $iso-filter-fsz;
		}

		* + .isotope { margin-top: px-to-rem( 47px ); }
	}

	* + .isotope-line { margin-top: px-to-rem( 82px ); }
}
