.rd-navbar-fixed {
	height: 60px;

	.navbar-panel {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		height: 60px;
		box-shadow: $navbar-shadow;
		background: $navbar-background;
	}

	.navbar-subpanel {
		position: fixed;
		top: 0;
		right: 5%;
		display: flex;
		align-items: center;
		height: 60px;
		margin: 0 -10px;
		padding: 0 10px;
	}

	.navbar-subpanel-item {
		padding: 0 10px;
	}

	.navbar-logo {
		position: fixed;
		top: 12px;
		left: 50%;
		transform: translateX( -50% );
	}

	.navbar-logo-default,
	.navbar-logo-inverse {
		width: auto;
		height: auto;
		max-width: none;
		max-height: 40px;
	}

	.navbar-navigation-banner {
		padding: 14px 0;
	}

	// Navbar switch
	.navbar-switch {
		position: fixed;
		top: 0;
		left: 2%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 60px;
		height: 60px;
		font-size: 38px;
		line-height: 1;
		border: none;
		background: none;
		color: inherit;
		transition: .2s ease-in-out;

		&:hover,
		&.active {
			color: $gray-400;
		}
	}

	.navbar-action-button {
		margin: 0;
	}

	// Button
	.navbar-button {
		&::before {
			pointer-events: none;
		}
	}

	// Navigation
	.navbar-navigation {
		position: fixed;
		top: 60px;
		bottom: 0;
		left: -310px;
		width: 300px;
		padding: 0;
		overflow-y: auto;
		overflow-x: hidden;
		font-size: 1.46rem;
		font-weight: 400;
		line-height: 1.2;
		transition: .4s;
		background: $navbar-background;
		box-shadow: $navbar-shadow;
	}

	.navbar-navigation-root-item,
	.navbar-navigation-megamenu,
	.navbar-navigation-dropdown {
		transition: .4s;
	}

	.navbar-navigation-megamenu,
	.navbar-navigation-dropdown {
		position: fixed;
		top: 60px;
		bottom: 0;
		left: -310px;
		width: 300px;
		z-index: 2;
		pointer-events: none;
		overflow-y: auto;
		overflow-x: hidden;
		background: $navbar-background;
	}

	.navbar-navigation,
	.navbar-navigation-megamenu,
	.navbar-navigation-dropdown {
		padding: 16px 0 30px;
		background: $gray-200;

		&.overlaid {
			background: $gray-400;
		}
	}

	.navbar-navigation-root-link,
	.navbar-navigation-megamenu-link,
	.navbar-navigation-dropdown-link {
		position: relative;
		transform: translateZ(0);
		display: block;
		padding: 14px 30px;
		border-radius: 4px;
		overflow: hidden;
		color: $navbar-color;
		transition: .2s;

		& + .rd-navbar-submenu-toggle {
			display: flex;
		}

		&:hover {
			color: $gray-400;
		}
	}

	.navbar-navigation-root-item,
	.navbar-navigation-megamenu-item,
	.navbar-navigation-dropdown-item {
		&.active,
		&.focus {
			> .navbar-navigation-root-link,
			> .navbar-navigation-megamenu-link,
			> .navbar-navigation-dropdown-link {
				color: $gray-400;
			}
		}
	}

	.navbar-navigation-back-btn {
		display: block;
		padding: 14px 30px;
		font-size: 1.3077rem;
		font-weight: 500;
		color: $primary;

		&::before {
			content: '\f237';
			font-family: 'Material Design Icons';
			margin-right: 10px;
			vertical-align: bottom;
		}

		&:hover {
			cursor: pointer;
		}
	}

	.navbar-navigation-megamenu-heading {
		padding: 14px 30px;
		margin: 0;
		font-size: 1.1538rem;
		font-weight: 300;
		color: $navbar-color;
	}

	.navbar-navigation-item-disabled {
		opacity: .5;
		pointer-events: none;
	}

	.rd-navbar-submenu-toggle {
		position: absolute;
		top: 0;
		right: 9px;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		display: none;
		font-size: .74em;
		color: inherit;
		transition: .2s;

		&::before {
			content: '\f238';
			font-family: 'Material Design Icons';
		}

		&:hover {
			&::before {
				color: $primary;
			}
		}
	}

	.rd-navbar-submenu {
		position: relative;

		&.focus,
		&.opened {
			> .navbar-navigation-megamenu,
			> .navbar-navigation-dropdown {
				left: 0;
				pointer-events: auto;
			}

			> .navbar-navigation-root-link,
			> .navbar-navigation-dropdown-link,
			> .navbar-navigation-megamenu-link {
				color: $white;

				&::before {
					padding: 100%;
					transition: padding .25s ease-in;
				}
			}
		}
	}

	&.active {
		.navbar-navigation {
			left: 0;
		}
	}
}
