.rd-navbar-fullwidth {
	height: 80px;
	font-weight: 500;
	font-size: $h6-font-size;
	background-color: $navbar-background;
	box-shadow: 0 0 0 rgba( #888, 0 );
	transition: height .2s, box-shadow .2s;

	.navbar-container {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		padding: 0 23px;
		height: 100%;
	}

	.navbar-cell {
		display: flex;
		align-items: stretch;
		padding: 0 17px;
	}

	.navbar-spacer {
		display: block;
		flex-grow: 1;
	}

	.navbar-switch {
		display: none;
	}

	.navbar-panel {
		align-self: center;
	}

	.navbar-subpanel {
		display: flex;
		align-self: center;
		margin: 0 -10px;
	}

	.navbar-subpanel-item {
		padding: 0 10px;
	}

	.navbar-button {
		display: block;
		font-size: 18px;
	}

	.navbar-action-button {
		margin: 0;
	}

	// Navbar stuck
	&.rd-navbar--is-stuck {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 50px;
		box-shadow: $box-shadow;

		.navbar-non-stuck {
			display: none;
		}
	}

	.navbar-navigation-back {
		display: none;
	}

	// Root
	.navbar-navigation {
		display: flex;
		padding: 0;
		margin: 0 -28px;
	}

	.navbar-navigation-root-item {
		display: flex;
		align-items: center;
		padding: 0 28px;
	}

	.navbar-navigation-root-link {
		position: relative;
		display: block;
		line-height: 1;
		color: $navbar-color;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 0;
			height: 1px;
			transform: translateY( -50% );
			pointer-events: none;
			transition: .2s ease-in-out;
			background: $navbar-hover;
		}

		&:hover {
			color: $navbar-hover;

			&::before {
				width: 100%;
			}
		}
	}

	.navbar-navigation-root-item.active > .navbar-navigation-root-link,
	.navbar-navigation-root-item.focus > .navbar-navigation-root-link {
		color: $navbar-hover;

		&::before {
			width: 100%;
		}
	}


	// Dropdown
	.navbar-navigation-dropdown {
		position: absolute;
		left: -20px;
		top: 100%;
		transform: translate(0, 10%) scale(.8);
		z-index: 1;
		padding: 24px 20px;
		min-width: 220px;
		opacity: 0;
		visibility: hidden;
		background: $navbar-background;
		box-shadow: 5px 8px 28px rgba( $gray-600, 0.1 );
		transition: .2s;
	}

	.navbar-navigation-dropdown-item + .navbar-navigation-dropdown-item {
		margin-top: 6px;
	}

	.navbar-navigation-dropdown-link {
		position: relative;
		display: inline-block;
		color: $navbar-color;
		transition: .2s;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 0;
			height: 1px;
			transform: translateY( -50% );
			pointer-events: none;
			transition: .2s ease-in-out;
			background: $navbar-hover;
		}

		& + .rd-navbar-submenu-toggle {
			display: block;
		}

		&:hover {
			color: $navbar-hover;

			&::before {
				width: 100%;
			}

			+ .rd-navbar-submenu-toggle {
				transition: .2s .1s;
				color: $navbar-hover;
			}
		}
	}


	// Megamenu
	.navbar-navigation-megamenu {
		position: absolute;
		top: 100%;
		left: 50%;
		right: 0;
		max-width: map-get( $container-max-widths, xl );
		transform: translateX(-50%) translateY(-10%) scale(.8);
		display: flex;
		justify-content: center;
		padding: 57px 40px;
		opacity: 0;
		visibility: hidden;
		background: $navbar-background;
		box-shadow: $box-shadow;
		transition: .2s;
	}

	.navbar-navigation-megamenu-container {
		max-width: 1320px;
		width: 100%;
		padding: 0 20px;
		margin: 0 auto;
	}

	.navbar-navigation-megamenu-row {
		display: flex;
		margin: 0 -20px;
	}

	.navbar-navigation-megamenu-column {
		flex-grow: 1;
		padding: 0 10px;
	}

	.navbar-navigation-megamenu-heading {
		padding: 0 10px;
		font-size: px-to-rem( 24px );
		line-height: 1.2;
	}

	.navbar-navigation-megamenu-link {
		position: relative;
		display: inline-block;
		color: $navbar-color;
		transition: .2s;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 0;
			height: 1px;
			transform: translateY( -50% );
			pointer-events: none;
			transition: .2s ease-in-out;
			background: $navbar-hover;
		}

		& + .rd-navbar-submenu-toggle {
			display: block;
		}

		&:hover {
			color: $navbar-hover;

			&::before {
				width: 100%;
			}

			+ .rd-navbar-submenu-toggle {
				transition: .2s .1s;
				color: $navbar-hover;
			}
		}
	}

	.navbar-navigation-megamenu-heading + .navbar-navigation-megamenu-row,
	.navbar-navigation-megamenu-heading + .navbar-navigation-megamenu-item {
		margin-top: 19px;
	}

	.navbar-navigation-megamenu-item + .navbar-navigation-megamenu-item {
		margin-top: 10px;
	}


	// Disabled
	.navbar-navigation-item-disabled {
		opacity: .5;
		pointer-events: none;
	}


	// RD Navbar elements
	.rd-navbar--has-dropdown {
		position: relative;
	}

	.rd-navbar-submenu-toggle {
		position: absolute;
		top: 4px;
		right: 6px;
		display: none;
		font-size: .8em;
		color: inherit;
		transition: .2s;

		&::before {
			content: '\f238';
			font-family: 'Material Design Icons';
		}
	}

	.rd-navbar-megamenu {
		.rd-navbar-dropdown {
			transform: translate(10%, 0) scale(.8);
			left: 100%;
			top: -24px;
		}
	}

	.rd-navbar-dropdown {
		.rd-navbar-dropdown {
			transform: translate(10%, 0) scale(.8);
			left: calc( 100% + 10px );
			top: -24px; // Parent dropdown padding compensation
		}

		.rd-navbar-open-left {
			transform: translate(-10%, 0) scale(.8);
			left: auto;
			right: calc( 100% + 10px );
		}
	}

	.rd-navbar-submenu {
		&.focus,
		&.opened {
			> .navbar-navigation-dropdown {
				transform: translate(0, 0) scale(1);
				opacity: 1;
				visibility: visible;
			}

			> .navbar-navigation-megamenu {
				transform: translateX(-50%) translateY(0) scale(1);
				opacity: 1;
				visibility: visible;
			}

			> .navbar-navigation-dropdown-link,
			> .navbar-navigation-megamenu-link {
				color: $navbar-color;

				&::before {
					width: 100%;
					transition: padding .25s ease-in;
				}
			}

			> .rd-navbar-submenu-toggle {
				color: $navbar-color;
			}
		}
	}

	// Navbar centered
	&.navbar-centered {
		height: auto;
		transition: none;

		.navbar-section {
			height: 80px;
			transition: height .2s;

			&:first-child {
				padding-top: px-to-rem( 60px );
				padding-bottom: px-to-rem( 15px );
				height: auto;
			}
		}

		.navbar-container {
			justify-content: center;
		}

		&.rd-navbar--is-stuck {
			.navbar-section {
				height: 50px;
			}
		}
	}


	// Builder Context
	[data-x-mode='true'] & {
		.navbar-navigation-root-item {
			& > .rd-navbar-submenu-toggle {
				position: static;
				display: block;
				margin-left: 6px;
				line-height: 1;

				&::before {
					content: '\e924';
				}

				&:hover {
					cursor: pointer;
				}
			}

			&.opened > .rd-navbar-submenu-toggle {
				color: $primary;
			}
		}
	}


	// Media
	@include media-breakpoint-up( xxl ) {
		// Navbar centered
		&.navbar-centered {
			.navbar-section {
				&:first-child {
					padding-top: px-to-rem( 106px );
					padding-bottom: px-to-rem( 31px );
				}
			}
		}
	}
}
