// Base
.countdown-simple {
	display: flex;
	justify-content: center;
	margin: 0 -15px;
	line-height: 1.2;
	text-align: center;

	.countdown-block {
		padding: 0 15px;
	}

	.countdown-wrap {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.countdown-title {
		font-size: $small-font-size;
		text-transform: capitalize;
	}

	* + .countdown-title { margin-top: 3px; }
}


// Spacing
* + div.countdown-simple {
	margin-top: px-to-rem( 60px * $xs-multiplier );
}


// Media
@include media-breakpoint-up( md ) {
	.countdown-simple {
		margin: 0 -38px;

		.countdown-block {
			padding: 0 38px;
		}
	}
}

@include media-breakpoint-up( lg ) {
	* + div.countdown-simple {
		margin-top: px-to-rem( 60px * $lg-multiplier );
	}
}

@include media-breakpoint-up( xxl ) {
	* + div.countdown-simple {
		margin-top: px-to-rem( 60px );
	}
}
