-
	var
		logo = {
			default: 'logo-default-322x127.png',
			inverse: 'logo-inverse-322x127.png',
			name: 'Pixel'
		},

		menu = {
			type: 'root',
			child: [
				{
					title: 'Home',
					link: 'index.html',
					home: true
				},

				{
					title: 'About me'
				},

				{
					title: 'Services',
					child: {
						type: 'dropdown',
						child: [
							{ title: 'Single service' }
						]
					}
				},

				{
					title: 'Gallery'
				},

				{
					title: 'Pages',
					link: '#',
					child: {
						type: 'megamenu',
						child: [
							{
								type: 'column',
								child: [
									{ title: 'Blog' },
									{ title: 'Single post' },
									{ title: 'Privacy policy' }
								]
							},
							{
								type: 'column',
								child: [
									{ title: '404' },
									{ title: 'Coming soon' },
									{ title: 'Under construction' }
								]
							},
							{
								type: 'column',
								child: [
									{ title: 'Typography' },
									{ title: 'Grid' },
									{ title: 'Tables' }
								]
							},
							{
								type: 'column',
								child: [
									{ title: 'Forms' },
									{ title: 'Tabs' },
									{ title: 'Counters' }
								]
							}
						]
					}
				},

				{
					title: 'Contacts'
				}
			]
		},

		homePage,
		pageName,
		pageId,
		pageClass,
		htmlClass,
		breadcrumbs = [];
