/** @section Spacing elements*/
// Elements
* + p {
	margin-top: px-to-rem( 15px );
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
	margin-top: px-to-rem( 20px );
}

.table-container + h4 {
	margin-top: px-to-rem( 60px * $xs-multiplier );
}

h5 + .title-1 {
	margin-top: px-to-rem( 11px * $xs-multiplier );
}

* + img,
* + figure {
	margin-top: px-to-rem( 30px );
}

* + form {
	margin-top: px-to-rem( 30px );
}

// Heading + p
h1 + p {
	margin-top: px-to-rem( 10px );
}

h2 + p {
	margin-top: px-to-rem( 10px )
}

h3 + p  {
	margin-top: px-to-rem( 8px );
}

h4 + p  {
	margin-top: px-to-rem( 18px * $xs-multiplier );
}

h5 + p  {
	margin-top: px-to-rem( 12px );
}

h6 + p {
	margin-top: px-to-rem( 6px );
}

p + p {
	margin-top: px-to-rem( 38px * $xs-multiplier );
}

.countdown-simple + p {
	margin-top: px-to-rem( 40px * $xs-multiplier );
}

// P + heading
p + h2 {
	margin-top: px-to-rem( 28px );
}

p + h3 {
	margin-top: px-to-rem( 28px );
}

p + h4 {
	margin-top: px-to-rem( 20px );
}

p + h5 {
	margin-top: px-to-rem( 20px );
}

p + h6 {
	margin-top: px-to-rem( 18px );
}

* + address {
	margin-top: 16px;
}

.title-1 + .xsmall {
	margin-top: px-to-rem( 13px * $xs-multiplier );
}

p + .xsmall {
	margin-top: px-to-rem( 17px * $xs-multiplier );
}


// Media
@include media-breakpoint-up( lg ) {
	.table-container + h4 {
		margin-top: px-to-rem( 60px * $lg-multiplier );
	}

	h5 + .title-1 {
		margin-top: px-to-rem( 11px * $lg-multiplier );
	}

	h4 + p  {
		margin-top: px-to-rem( 18px * $lg-multiplier );
	}

	p + p {
		margin-top: px-to-rem( 38px * $lg-multiplier );
	}

	.countdown-simple + p {
		margin-top: px-to-rem( 40px * $lg-multiplier );
	}

	.title-1 + .xsmall {
		margin-top: px-to-rem( 13px * $lg-multiplier );
	}

	p + .xsmall {
		margin-top: px-to-rem( 17px * $lg-multiplier );
	}
}

@include media-breakpoint-up( xxl ) {
	// Elements spacing
	* + p {
		margin-top: px-to-rem( 20px );
	}

	* + h1,
	* + h2,
	* + h3,
	* + h4,
	* + h5,
	* + h6 {
		margin-top: px-to-rem( 25px );
	}

	.table-container + h4 {
		margin-top: px-to-rem( 60px );
	}

	h5 + .title-1 {
		margin-top: px-to-rem( 11px );
	}

	// Heading + p
	h1 + p {
		margin-top: px-to-rem( 15px );
	}

	h2 + p {
		margin-top: px-to-rem( 13px )
	}

	h3 + p  {
		margin-top: px-to-rem( 13px );
	}

	h4 + p  {
		margin-top: px-to-rem( 18px );
	}

	h5 + p  {
		margin-top: px-to-rem( 12px );
	}

	h6 + p {
		margin-top: px-to-rem( 10px );
	}

	p + p {
		margin-top: px-to-rem( 38px );
	}

	.countdown-simple + p {
		margin-top: px-to-rem( 40px );
	}

	// P + heading
	p + h2 {
		margin-top: px-to-rem( 32px );
	}

	p + h3 {
		margin-top: px-to-rem( 28px );
	}

	p + h4 {
		margin-top: px-to-rem( 26px );
	}

	p + h5 {
		margin-top: px-to-rem( 24px );
	}

	p + h6 {
		margin-top: px-to-rem( 24px );
	}

	.title-1 + .xsmall {
		margin-top: px-to-rem( 13px );
	}

	p + .xsmall {
		margin-top: px-to-rem( 17px );
	}
}

// Spacers
* + .offset-xxs {
	margin-top: px-to-rem( 20px );
}

* + .offset-custom-2 { margin-top: px-to-rem( 27px * $xs-multiplier ) }

@include media-breakpoint-up( md ) {
	.offset-custom-1 {
		padding-top: 30%;
	}

	* + .offset-custom-2 { margin-top: px-to-rem( 27px * $lg-multiplier ) }
}

@include media-breakpoint-up( xl ) {
	.offset-custom-1 {
		padding-top: 44%;
	}

	* + .offset-custom-2 { margin-top: px-to-rem( 27px ) }
}


// Group spacing
html {
	.group-30 {
		@include group( px-to-rem( 30px ) );
	}
}
