// Variables

// Colors
$white:    #fff;
$gray-100: #fafafa;
$gray-200: #f7f7f7;
$gray-300: #e8e8e9;
$gray-400: #ababab;
$gray-600: #5d5d66;
$gray-700: #393944;
$gray-800: #23232f;
$gray-900: #171724;
$black:    #000;

$primary:   $black;
$secondary: #fff8ee;
$success:   #77ba21;
$info:      #138ce4;
$warning:   #f19711;
$danger:    #e72660;
$light:     $gray-200;
$dark:      $black;

// The yiq lightness value
$min-contrast-ratio:  2.1;

// Social
$facebook: #3e6db9;
$twitter: #00b5eb;
$google: #e43711;

// Gradients
$gradients: (
	primary: linear-gradient( 180deg, $primary, rgba( $primary, 0 ) ),
	primary-3-color: linear-gradient( 90deg, $primary 0%, lighten( $primary, 10% ) 51%, $primary 100% )
);


// Body
$body-color: $dark;


// Resize multiplier
$xs-multiplier: .5;
$lg-multiplier: .7;


// Grid breakpoints
$grid-breakpoints: (
	xxs: 0,
	xs: 480px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1600px
);


// Grid containers
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1200px
);


// Grid columns
$grid-gutter-width: px-to-rem( 30px );


// Components
$border-width:     1px;
$border-color:     $gray-400;


$border-radius:    0;

$box-shadow:       5px 6px 18px rgba($gray-900, 0.12);

// Links
$link-color:       $primary;
$link-hover-color: $gray-400;


// Fonts
$font-family-base: 'Spartan', sans-serif;
$font-family-mono: 'IBM Plex Mono', monospace;
$font-size-base: px-to-rem( 20px );
$font-size-lg: px-to-rem( 24px );
$font-size-sm: px-to-rem( 16px );
$font-size-xs: px-to-rem( 14px );
$font-weight-base: 300;
$line-height-base: 1.9;
$line-height-lg: 1.4;
$line-height-sm: 1.6;
$line-height-xs: 1.6;

$h1-font-size: px-to-rem( 72px );
$h2-font-size: px-to-rem( 48px );
$h3-font-size: px-to-rem( 36px );
$h4-font-size: px-to-rem( 24px );
$h5-font-size: px-to-rem( 20px );
$h6-font-size: px-to-rem( 18px );

$h1-line-height: 1.155;
$h2-line-height: 1.2;
$h3-line-height: 1.6;
$h4-line-height: 1.6;
$h5-line-height: 1.6;
$h6-line-height: 1.6;

$headings-color: $black;
$headings-font-weight: 500;

$lead-font-size: $font-size-base * 1.15; // ~24px
$small-font-size: 81%;  // ~17px

$mark-padding: .2em .2em;
$mark-bg: $primary;

$hr-border-color:             $gray-300;
$hr-border-width:             1px;
$hr-margin-y: 0;


// Buttons
$btn-padding-y:        px-to-rem( 18px );
$btn-padding-x:        px-to-rem( 28px );
$btn-font-size:        px-to-rem( 16px );
$btn-line-height:      1.4;

$btn-padding-y-sm:     px-to-rem( 6px );
$btn-padding-x-sm:     px-to-rem( 16px );
$btn-font-size-sm:     $font-size-sm;
$btn-line-height-sm:   1.4;

$btn-padding-y-lg:     px-to-rem(16px);
$btn-padding-x-lg:     px-to-rem( 40px );
$btn-font-size-lg:     $font-size-sm;
$btn-line-height-lg:   1.4;

$btn-border-width:     $border-width;

$btn-font-weight:      500;
$btn-box-shadow:       $box-shadow;
$btn-focus-box-shadow: none;

$btn-border-radius:    $border-radius;
$btn-border-radius-sm: $border-radius;
$btn-border-radius-lg: $border-radius;


// Forms
$label-margin-bottom: .5rem;
$label-font-size: $font-size-sm;

$input-padding-y: px-to-rem( 17px );
$input-padding-x: px-to-rem( 19px );
$input-font-size: $font-size-xs;
$input-line-height: 1.36;
$input-font-weight: 300;
$input-border-width: $border-width;

$input-padding-y-lg: $input-padding-y * 1.1;
$input-padding-x-lg: $input-padding-x * 1.1;
$input-font-size-lg: $input-font-size * 1.1;
$input-line-height-lg: $input-line-height;

$input-padding-y-sm: $input-padding-y * 0.9;
$input-padding-x-sm: $input-padding-x * 0.9;
$input-font-size-sm: $input-font-size * 0.9;
$input-line-height-sm: $input-line-height * 0.9;

$input-color: $body-color;
$input-bg: $white;
$input-disabled-bg: rgba( $gray-100, .8 );
$input-border-color: rgba( $border-color, .5 );
$input-placeholder-color: $input-color;

$input-focus-bg: $white;
$input-focus-color: $gray-900;
$input-focus-border-color: $input-border-color;
$input-focus-box-shadow: 0 0 0 1px $input-focus-border-color;

$input-height-border: $input-border-width * 2;
$input-height: #{$input-font-size * $input-line-height + $input-padding-y * 2 + px-to-rem($input-height-border)};
$input-height-lg: #{$input-font-size-lg * $input-line-height-lg + $input-padding-y-lg * 2 + px-to-rem($input-height-border)};
$input-height-sm: #{$input-font-size-sm * $input-line-height-sm + $input-padding-y-sm * 2 + px-to-rem($input-height-border)};

$form-grid-gutter-width: 30px;


// Z-index master list
$zindex-dropdown:       10;
$zindex-sticky:         11;
$zindex-popover:        12;
$zindex-tooltip:        13;
$zindex-fixed:          14;
$zindex-modal-backdrop: 15;
$zindex-modal:          16;
