{% extends "index.html" %}
{% load my_tags %}

{% block navbars %}
    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="/">Strona Główna</a>
    </li>
    <li class="navbar-navigation-root-item active"><a class="navbar-navigation-root-link" href="/about">O Mnie</a>
    </li>
    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="/services">Usługa</a>
    </li>
    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="/gallery">Galeria</a>
    </li>
    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="/contacts">Kontakt</a>
    </li>
{% endblock %}

{% block content %}

      <section class="section breadcrumb-section">
        <div class="container">
          <!-- Breadcrumb-->
          <div class="breadcrumb">
            <div class="breadcrumb-inner">
              <div class="breadcrumb-item"><a class="breadcrumb-link" href="/">Home</a></div>
              <div class="breadcrumb-item"><span class="breadcrumb-text breadcrumb-active">About me</span></div>
            </div>
          </div>
        </div>
      </section>
      <!-- About me-->
      <section class="section section-md bg-transparent text-center">
        <div class="container">
          <div class="text-block text-block-1 text-center">
            <h4 class="text-uppercase">A few words about Me</h4>
            <p>Et lacinia nisi tortor ultricies mollis gravida interdum vitae aenean. Nam faucibus nullam sit egestas. Sem enim ut imperdiet sollicitudin nisl neque. Auctor ultricies at purus nunc enim. Molestie porta amet posuere elementum eu nulla sapien, et.</p>
          </div>
          <div class="row row-40">
            <div class="col-xs-6 col-xl-3 offset-xl-2"><img src="/static/images/image-06-270x368.jpg" alt="" width="270" height="368"/>
            </div>
            <div class="col-xs-6 col-xl-4 offset-xl-1 offset-xxl-2"><img class="image image-3" src="/static/images/image-07-370x368.jpg" alt="" width="370" height="368"/>
            </div>
          </div>
        </div>
      </section>
      <!-- About us 2-->
      <section class="section section-md bg-transparent text-center text-xs-start">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h4 class="text-uppercase">Experience & Skills</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Counters-->
      <section class="section section-md bg-transparent text-center text-sm-start">
        <div class="container">
          <div class="row row-40 align-items-center">
            <div class="col-xs-6 col-xl-5 offset-xl-1">
              <div class="image-responsive"><img class="image" src="/static/images/image-08-470x660.jpg" alt="" width="470" height="660"/>
              </div>
            </div>
            <div class="col-xs-6 col-md-5 col-xl-4 offset-md-1">
                    <!-- Counter-->
                    <div class="counter counter-simple">
                      <div class="counter-value h1"><span data-counter="">{{counters|index_value:0}}</span>
                      </div>
                      <div class="counter-title title-1">Pieces of Equipment</div>
                    </div>
                    <!-- Counter-->
                    <div class="counter counter-simple">
                      <div class="counter-value h1"><span data-counter="">{{counters|index_value:1}}</span>
                      </div>
                      <div class="counter-title title-1">Finished Photoshoots</div>
                    </div>
                    <!-- Counter-->
                    <div class="counter counter-simple">
                      <div class="counter-value h1"><span data-counter="">{{counters|index_value:2}}</span>
                      </div>
                      <div class="counter-title title-1">Satisfied Clients</div>
                    </div>
            </div>
          </div>
        </div>
      </section>


      {% endblock %}