


<a href="static/images/galery_three/jeden.jpg" class="gallery-album"><img src="static/images/galery_three/jeden.jpg" alt="Miniatura zdjęcia"></a>
<a href="static/images/galery_three/dwa.jpg" class="gallery-album"><img src="static/images/galery_three/dwa.jpg" alt="Miniatura zdjęcia"></a>
<a href="static/images/galery_three/trzy.jpg" class="gallery-album"><img src="static/images/galery_three/trzy.jpg" alt="Miniatura zdjęcia"></a>