


<a href="static/images/galery_four/jeden.jpg" class="gallery-album"><img src="static/images/galery_four/jeden.jpg" alt="Miniatura zdjęcia"></a>
<a href="static/images/galery_four/dwa.jpg" class="gallery-album"><img src="static/images/galery_four/dwa.jpg" alt="Miniatura zdjęcia"></a>
<a href="static/images/galery_four/trzy.jpg" class="gallery-album"><img src="static/images/galery_four/trzy.jpg" alt="Miniatura zdjęcia"></a>