{% extends "index.html" %}

{% block navbars %}
    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="/">Strona Główna</a>
    </li>
    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="/about">O Mnie</a>
    </li>
    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="/services">Usługa</a>
    </li>
    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="/gallery">Galeria</a>
    </li>
    <li class="navbar-navigation-root-item active"><a class="navbar-navigation-root-link" href="/contacts">Kontakt</a>
    </li>
{% endblock %}





{% block content %}

      <section class="section breadcrumb-section">
        <div class="container">
          <!-- Breadcrumb-->
          <div class="breadcrumb">
            <div class="breadcrumb-inner">
              <div class="breadcrumb-item"><a class="breadcrumb-link" href="/">Home</a></div>
              <div class="breadcrumb-item"><span class="breadcrumb-text breadcrumb-active">Contacts</span></div>
            </div>
          </div>
        </div>
      </section>
      <!-- Single post-->
      <section class="section section-md bg-transparent text-center">
        <div class="container">
          <div class="row row-50 justify-content-center">
            <div class="col-md-10 col-lg-8">
              {% if not name and not error %}

              <h4 class="text-uppercase">Contacts</h4>
              <p class="offset-custom-2">Et lacinia nisi tortor ultricies mollis gravida interdum vitae aenean. Nam faucibus nullam sit egestas. Sem enim ut imperdiet sollicitudin nisl neque. Auctor ultricies at purus nunc enim.</p>
              <form class="rd-form rd-mailform text-start" data-form-output="contact-form" data-form-type="contact" method="post" action="/contacts">
                {% csrf_token %}
                <div class="row row-30">
                  <div class="col-12">
                    <div class="form-group">
                      <div class="form-control-wrap">
                        <textarea class="form-control" name="textarea" placeholder="Your comment" data-constraints="@Required"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="form-control-wrap">
                        <input class="form-control" type="text" name="name" placeholder="Your name*" data-constraints="@Required">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="form-control-wrap">
                        <input class="form-control" type="email" name="email" placeholder="Your email*" data-constraints="@Email @Required">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rd-form-btn">
                  <button class="btn btn-outline" type="submit" name="btn"><span>Send message</span><span class="btn-icon mdi-arrow-right"></span></button>
                </div>
              </form>
              {% elif name and not error %}

              <h4 class="text-uppercase">DZIĘKUJEMY {{name}}!</h4>
              <p class="offset-custom-2">Twoja Wiadomość Została Wysłana</p>
              <p class="offset-custom-2">Skontaktuję Się z Tobą Niedługo</p>

              {% elif error %}

              <h4 class="text-uppercase">UPS!</h4>
              <p class="offset-custom-2">Coś Poszło Nie Tak</p>
              <p class="offset-custom-2">Spróbuj jeszcze raz. Upewnij się, że wszystkie pola zostały wypełnione</p>

              {% endif %}

              
              



          </div>
        </div>
      </section>

      <script src="static/components/base/script_contact.js"></script>
      

      {% endblock %}