{% extends "index.html" %}


{% block navbars %}
    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="/">Strona Główna</a>
    </li>
    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="/about">O Mnie</a>
    </li>
    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="/services">Usługa</a>
    </li>
    <li class="navbar-navigation-root-item active"><a class="navbar-navigation-root-link" href="/gallery">Galeria</a>
    </li>
    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="/contacts">Kontakt</a>
    </li>
{% endblock %}


{% block content %}

<link rel="stylesheet" href="static/css/moje.css">

      <section class="section breadcrumb-section">
        <div class="container">
          <!-- Breadcrumb-->
          <div class="breadcrumb">
            <div class="breadcrumb-inner">
              <div class="breadcrumb-item"><a class="breadcrumb-link" href="/">Home</a></div>
              <div class="breadcrumb-item"><span class="breadcrumb-text breadcrumb-active">Gallery</span></div>
            </div>
          </div>
        </div>
      </section>
      <!-- Gallery-->
      <section class="section section-md bg-transparent text-center text-md-start">
        <div class="container">
          <div class="text-block text-block-1 text-center">
            <h4 class="text-uppercase">Portfolio</h4>
            <p>Et lacinia nisi tortor ultricies mollis gravida interdum vitae aenean. Nam faucibus nullam sit egestas. Sem enim ut imperdiet sollicitudin nisl neque. Auctor ultricies at purus nunc enim.</p>
          </div>
          <div class="isotope-wrap isotope-line">
            <div class="isotope-filters">
              <div class="isotope-filter active" data-isotope-filter="*">Wszystko</div>
              <div class="isotope-filter" data-isotope-filter=".filter-1">Ciąże</div>
              <div class="isotope-filter" data-isotope-filter=".filter-2">Noworodki</div>
              <!-- <div class="isotope-filter" data-isotope-filter=".filter-3">Food & Drink</div>
              <div class="isotope-filter" data-isotope-filter=".filter-4">People</div> -->
            </div>
            <div class="isotope row row-30 row-lg-60 row-xl-100" data-lightgallery>

              
              <div class="col-xs-6 col-xl-4 offset-xl-1 isotope-item filter-1 custom-col-offset">
                      <!-- Thumbnail-->
                      <a href="gallery1" class="gallery-thumbnail gallery-album"><img src="static/images/ciaze_img/1.jpg" alt="Miniatura zdjęcia" title="1"></a>
              </div>
              
              <div class="col-xs-6 col-xl-5 isotope-item filter-2">
                      <!-- Thumbnail-->
                      <a href="gallery2" class="gallery-thumbnail gallery-album"><img src="static/images/noworodki_img/2-28.jpg" alt="Miniatura zdjęcia"></a>
              </div>
              
            </div>
          </div>
        </div>
      </section>
      

      <script src="static/js/compsoul.js"></script>
      <script src="static/js/gallery.js"></script>
      <script>
        new Gallery(".gallery-album").options({
          album: true

        }).init();
      </script>



      {% endblock %}