<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Template Monster Admin Template">
    <meta property="og:description" content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
    <meta property="og:image" content="http://digipunk.netii.net/images/radar.gif">
    <meta property="og:url" content="http://digipunk.netii.net">
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/components/base/base.css">
    <script src="static/components/base/core.min.js"></script>
    <script src="static/components/base/script.js"></script>
  </head>
  <body>
    <div class="page">
      <!--RD Navbar-->
      <header class="section rd-navbar-wrap" data-preset='{"title":"Navbar Default","category":"header","reload":true,"id":"navbar-default"}'>
        <nav class="rd-navbar navbar-centered" style="z-index: 1;" data-rd-navbar='{"responsive":{"1200":{"stickUpOffset":"200px"}}}'>
          <div class="navbar-section navbar-non-stuck">
            <div class="navbar-container" >
              <div class="navbar-cell">
                <div class="navbar-panel">
                  <button class="navbar-switch mdi-menu novi-icon" data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","isolate":"[data-multi-switch]"}'></button>
                  <div class="navbar-logo"><a class="navbar-logo-link" href="/"><img class="navbar-logo-default" src="static/images/logo_sylwia.jpg" width="850" height="63"/><img class="navbar-logo-inverse" src="static/images/logo-inverse-322x127.png" alt="Pixel" width="161" height="63"/></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="navbar-section" >
            <div class="navbar-container">
              <div class="navbar-cell navbar-sidebar">
                <ul class="navbar-navigation rd-navbar-nav">
                  {% block navbars %}
                  <li class="navbar-navigation-root-item active"><a class="navbar-navigation-root-link" href="/">Strona Główna</a>
                  </li>
                  <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="/about">O Mnie</a>
                  </li>
                  <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="/services">Usługa</a>
                  </li>
                  <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="/gallery">Galeria</a>
                  </li>
                  <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="/contacts">Kontakt</a>
                  </li>
                  {% endblock %}
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <!-- Intro-->

      {% block content %}

      <section class="section section-xl bg-transparent text-center text-sm-start">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xxl-10">
              <div class="intro" style="background-image:url(static/images/image-24-770x645.jpg);">
                <h2 class="intro-title">Dzieńdobry elompulems dsa dsadsada fadfasaewj dfasfas  </h2>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- About us-->
      <section class="section section-md bg-transparent text-center text-xs-start" data-lightgallery>
        <div class="container">
          <div class="row row-40 justify-content-lg-between flex-xs-row-reverse">
            <div class="col-xs-6 col-xxl-5">
              <div class="row row-40 row-xl-100 row-xxl-130">
                <div class="col-xs-12">
                        <!-- Thumbnail-->
                        <div class="thumbnail thumbnail-simple thumbnail-1"><a class="thumbnail-media lightgallery-item" href="static/images/image-02-1200x800.jpg"><img class="thumbnail-img" src="static/images/image-02-845x425.jpg" alt="" width="845" height="425"/><span class="thumbnail-caption"></span></a></div>
                </div>
                <div class="col-xs-12 col-xl-10 offset-xl-2">
                  <div class="image-responsive">
                          <!-- Thumbnail-->
                          <div class="thumbnail thumbnail-simple thumbnail-2"><a class="thumbnail-media lightgallery-item" href="static/images/image-03-800x1200.jpg"><img class="thumbnail-img" src="static/images/image-03-470x660.jpg" alt="" width="470" height="660"/><span class="thumbnail-caption"></span></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="row row-40 row-lg-60 row-xxl-130">
                <div class="col-xs-12">
                  <div class="image-responsive">
                          <!-- Thumbnail-->
                          <div class="thumbnail thumbnail-simple"><a class="thumbnail-media lightgallery-item" href="static/images/image-01-800x1200.jpg"><img class="thumbnail-img" src="static/images/image-01-470x660.jpg" alt="" width="470" height="660"/><span class="thumbnail-caption"></span></a></div>
                  </div>
                </div>
                <div class="col-xs-12 col-xl-10 offset-xl-2" data-animate='{"class":"fadeIn"}'>
                  <h4 class="text-uppercase">About</h4>
                  <p>I take inspiration from the innovative styles of photography. I capture natural but refined moments in a relaxed and stylish way, always looking for the perfect available light. I love emotive, natural photography and want you to feel as though you could be in a magazine.</p><a class="btn btn-outline" href="/about"><span>More</span><span class="btn-icon mdi-arrow-right"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Features-->
      <section class="section section-md bg-transparent text-center text-xs-start">
        <div class="container">
          <div class="box box-creative">
            <div class="box-creative-bg bg-secondary"></div>
            <div class="row row-40 justify-content-lg-between">
              <div class="col-xs-6 col-sm-7 col-xl-7 position-relative">
                <div class="image-responsive d-lg-flex justify-content-lg-end"><img class="image image-true-size" src="static/images/image-04-820x722.jpg" alt="" width="820" height="722"/>
                </div>
              </div>
              <div class="col-xs-6 col-sm-5 col-xl-4 position-relative" data-animate='{"class":"fadeIn"}'>
                <div class="box-creative-content">
                  <ul class="list list-md h4">
                    <li class="list-item"><a class="link link-strike" href="/gallery">Faces</a></li>
                    <li class="list-item"><a class="link link-strike" href="/gallery">Fashion</a></li>
                    <li class="list-item"><a class="link link-strike" href="/gallery">Wedding</a></li>
                    <li class="list-item"><a class="link link-strike" href="/gallery">Children</a></li>
                    <li class="list-item"><a class="link link-strike" href="/gallery">Love Story</a></li>
                    <li class="list-item"><a class="link link-strike" href="/gallery">Motion</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Call to action-->
      <section class="section section-md bg-transparent">
        <div class="container">
          <div class="box box-action bg-image" style="background-image:url(static/images/image-05-870x670.jpg)">
            <div class="box-bg bg-secondary"></div>
            <div class="box-inner">
              <h5>Book your appointment</h5>
              <p>Get a spectacular photoshoot by booking an appointment today.</p><a class="btn btn-outline" href="contacts"><span>Book now</span><span class="btn-icon mdi-arrow-right"></span></a>
            </div>
          </div>
        </div>
      </section>

      {% endblock %}

      <!-- Footer default-->
      <footer class="section footer bg-transparent text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8">
              <p>Tell me about your story, your passion, or your idea.<br>And I'll be happy to get back to you and talk about the tailor-made photo shoot. Let's connect here.</p>
              <div class="footer-tel h3"><a href="tel:#">{{details.telefon}}</a></div>
              <div class="footer-address title-1">{{details.address}}</div>
              <div class="footer-mail title-1"><a class="link link-strike-sm" href="mailto:#">{{details.email}}</a></div>
                    <!-- Logo-->
                    <div class="logo"><a class="logo-link" href="/"><img class="logo-image-default" src="static/images/logo_sylwia.jpg" alt="Pixel" width="261" height="63"/><img class="logo-image-inverse" src="static/images/logo_sylwia.jpg" alt="Pixel" width="261" height="63"/></a></div>
              <ul class="list list-inline">
                <li class="list-inline-item"><a class="link link-strike-sm" href="#">facebook</a></li>
                <li class="list-inline-item"><a class="link link-strike-sm" href="#">instagram</a></li>
              </ul>
                    <!-- Copyright-->
                    <p class="rights xsmall"><span>&copy; 2022.&nbsp;</span><a class="rights-link" href="privacy-policy.html">Privacy Policy</a></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Preloader-->
    <div class="preloader">
      <div class="preloader-inner">
        <div class="preloader-item"></div>
        <div class="preloader-item"></div>
        <div class="preloader-item"></div>
        <div class="preloader-item"></div>
        <div class="preloader-item"></div>
        <div class="preloader-item"></div>
        <div class="preloader-item"></div>
        <div class="preloader-item"></div>
        <div class="preloader-item"></div>
      </div>
    </div>
  </body>
</html>