{% extends "index.html" %}

{% block navbars %}
    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="/">Strona Główna</a>
    </li>
    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="/about">O Mnie</a>
    </li>
    <li class="navbar-navigation-root-item active"><a class="navbar-navigation-root-link" href="/services">Usługa</a>
    </li>
    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="/gallery">Galeria</a>
    </li>
    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="/contacts">Kontakt</a>
    </li>
{% endblock %}





{% block content %}


      <section class="section breadcrumb-section">
        <div class="container">
          <!-- Breadcrumb-->
          <div class="breadcrumb">
            <div class="breadcrumb-inner">
              <div class="breadcrumb-item"><a class="breadcrumb-link" href="/">Home</a></div>
              <div class="breadcrumb-item"><span class="breadcrumb-text breadcrumb-active">Services</span></div>
            </div>
          </div>
        </div>
      </section>
      <!-- Features-->
      <section class="section section-md bg-transparent text-center text-xs-start">
        <div class="container">
          <div class="text-block text-block-1 text-center">
            <h4 class="text-uppercase">Professional photography services for personal and corporate use</h4>
            <p>Amet, turpis eu cursus feugiat venenatis scelerisque elit sit egestas. Sem vestibulum, ac non netus. Est neque cursus diam ut donec. Tristique sit ipsum quam adipiscing mi sapien, sagittis ac. Ut nunc nullam neque vel.</p>
          </div>
          <div class="box box-creative">
            <div class="box-creative-bg bg-secondary"></div>
            <div class="row row-40 justify-content-lg-between">
              <div class="col-xs-6 col-sm-7 col-xl-7 position-relative">
                <div class="image-responsive d-lg-flex justify-content-lg-end"><img class="image image-true-size" src="/static/images/image-09-820x722.jpg" alt="" width="820" height="722"/>
                </div>
              </div>
              <div class="col-xs-6 col-sm-5 col-xl-4 position-relative">
                <div class="box-creative-content">
                  <ul class="list list-md h4">
                    <li class="list-item"><a class="link link-strike" href="gallery.html">Faces</a></li>
                    <li class="list-item"><a class="link link-strike" href="gallery.html">Fashion</a></li>
                    <li class="list-item"><a class="link link-strike" href="gallery.html">Wedding</a></li>
                    <li class="list-item"><a class="link link-strike" href="gallery.html">Children</a></li>
                    <li class="list-item"><a class="link link-strike" href="gallery.html">Love Story</a></li>
                    <li class="list-item"><a class="link link-strike" href="gallery.html">Motion</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Services list-->
      <section class="section section-md bg-transparent text-center text-sm-start">
        <div class="container">
          <h4 class="ls01">My photography services include:</h4>
          <ul class="list list-marked title-1">
            <li class="list-item">Full-day or half-day photo shoots with all necessary equipment</li>
            <li class="list-item">Professional camera and lens kits</li>
            <li class="list-item">Professional lighting setup</li>
            <li class="list-item">Single-shooter and multi-shooter options</li>
            <li class="list-item">Photo editing, color correction and retouching</li>
            <li class="list-item">Complete photo library access with full usage rights</li>
            <li class="list-item">Photo metadata to SEO best practices</li>
            <li class="list-item">Photo library hosting</li>
          </ul>
        </div>
      </section>
      <!-- Services list 2-->
      <section class="section section-md bg-transparent text-center text-sm-start">
        <div class="container">
          <div class="row row-40">
            <div class="col-sm-6 col-xl-5 offset-xl-1">
              <div class="image-responsive"><img class="image" src="/static/images/image-10-470x660.jpg" alt="" width="470" height="660"/>
              </div>
            </div>
            <div class="col-sm-6 col-xl-5 offset-xl-1">
              <div class="offset-custom-1">
                <h4 class="ls01 lh140">I have experience shooting all types of professional photos for my clients, including:</h4>
                <ul class="list list-marked title-1">
                  <li class="list-item"><a href="single-service.html">Corporate team photography</a></li>
                  <li class="list-item"><a href="single-service.html">Product photography</a></li>
                  <li class="list-item"><a href="single-service.html">Commercial photography</a></li>
                  <li class="list-item"><a href="single-service.html">Event photography</a></li>
                  <li class="list-item"><a href="single-service.html">Location and architectural photography</a></li>
                  <li class="list-item"><a href="single-service.html">Lifestyle photography</a></li>
                  <li class="list-item"><a href="single-service.html">Food photography</a></li>
                  <li class="list-item"><a href="single-service.html">Social media photography</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      {% endblock %}