@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../base/mixins";
@import "../bootstrap/scss/mixins";


// Base
.footer {
	padding: px-to-rem( 70px, 0 );

	.list-inline {
		font-weight: 400;
		font-size: $font-size-sm;
		line-height: $line-height-sm;
		letter-spacing: .2em;
	}

	* + .footer-tel { margin-top: px-to-rem( 26px ) }
	* + .footer-address { margin-top: px-to-rem( 20px ) }
	* + .footer-mail { margin-top: px-to-rem( 25px ) }
	* + .logo { margin-top: px-to-rem( 75px * $xs-multiplier) }
	* + .list-inline { margin-top: px-to-rem( 36px * $lg-multiplier) }
	* + .rights { margin-top: px-to-rem( 22px * $lg-multiplier) }
}

.footer-tel {
	font-weight: $font-weight-base;
}


// Media
@include media-breakpoint-up( lg ) {
	.footer {
		padding: px-to-rem( 150px, 0 );

		* + .footer-tel { margin-top: px-to-rem( 26px * $lg-multiplier) }
		* + .footer-mail { margin-top: px-to-rem( 68px * $lg-multiplier) }
		* + .logo { margin-top: px-to-rem( 75px * $lg-multiplier) }
		* + .list-inline { margin-top: px-to-rem( 36px * $lg-multiplier) }
		* + .rights { margin-top: px-to-rem( 22px * $lg-multiplier) }
	}
}

@include media-breakpoint-up( xxl ) {
	.footer {
		padding: px-to-rem( 150px, 0 );

		* + .footer-tel { margin-top: px-to-rem( 26px ) }
		* + .footer-address { margin-top: px-to-rem( 3px ) }
		* + .footer-mail { margin-top: px-to-rem( 68px ) }
		* + .logo { margin-top: px-to-rem( 75px ) }
		* + .list-inline { margin-top: px-to-rem( 36px ) }
		* + .rights { margin-top: px-to-rem( 22px ) }
	}

}
