// Base
.comment-simple {
	@include group( px-to-rem( 36px ), px-to-rem( 10px ) );

	.comment-simple {
		padding-left: px-to-rem( 30px );
	}

	.comment-left {
		flex-shrink: 0;
	}

	.comment-body {
		// IE Fix
		width: 100%;
	}

	.comment-icon {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: px-to-rem( 60px );
		height: px-to-rem( 60px );
		font-size: px-to-rem( 30px );
		color: $gray-400;
		border-radius: 50%;
		background-color: $gray-100;
	}

	.comment-text {
		font-size: $font-size-xs;
		line-height: 1.9;
	}

	.comment-link {
		font-weight: 500;
		font-size: $font-size-sm;
		line-height: $line-height-sm;
	}

	.comment-link-icon {
		font-size: px-to-rem( 22px );
	}


	// Spacing
	* + .comment-text { margin-top: px-to-rem( 17px * $xs-multiplier ) }
	* + .comment-link { margin-top: px-to-rem( 22px * $xs-multiplier ) }
}

* + .comment-simple { margin-top: px-to-rem( 51px * $xs-multiplier ) }
.comment-simple + .comment-simple,
.comment-simple * + .comment-simple { margin-top: px-to-rem( 48px * $xs-multiplier ) }


// Media
@include media-breakpoint-up( sm ) {
	.comment-simple {
		display: flex;

		.comment-simple {
			padding-left: 0;
		}
	}
}

@include media-breakpoint-up( lg ) {
	.comment-simple {
		@include group( px-to-rem( 36px ), px-to-rem( 10px ) );

		* + .comment-text { margin-top: px-to-rem( 17px * $lg-multiplier ) }
		* + .comment-link { margin-top: px-to-rem( 22px * $lg-multiplier ) }
	}

	* + .comment-simple { margin-top: px-to-rem( 51px * $lg-multiplier ) }
	.comment-simple + .comment-simple,
	.comment-simple * + .comment-simple { margin-top: px-to-rem( 48px * $lg-multiplier ) }
}

@include media-breakpoint-up( xxl ) {
	.comment-simple {
		@include group( px-to-rem( 40px ), px-to-rem( 10px ) );

		* + .comment-text { margin-top: px-to-rem( 17px ) }
		* + .comment-link { margin-top: px-to-rem( 22px ) }
	}

	* + .comment-simple { margin-top: px-to-rem( 51px ) }
	.comment-simple + .comment-simple,
	.comment-simple * + .comment-simple { margin-top: px-to-rem( 48px ) }
}