@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";

// Base
.comment-link {
	display: inline-block;

	> * {
		vertical-align: middle;
	}
}

// Layouts
@import "comment-simple";