include ../post/_post

.widget
	.widget-title.h4.text-uppercase Recent
	.widget-body
		+post-simple({
			title: 'Right children photoshoot with simple tips for best photos',
			meta: [ 'Adam Smith', 'August 30, 2020' ]
		})

		+post-simple({
			title: 'Black & white: which equipment to use in such cases',
			meta: [ 'Adam Smith', 'August 30, 2020' ]
		})

		+post-simple({
			title: 'How to make right composition in different places',
			meta: [ 'Adam Smith', 'August 30, 2020' ]
		})