@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";


// Base
.tab-content {
	padding-top: px-to-rem( 22px );
}


// Spacing
* + .tab { margin-top: 25px; }


// Media
@include media-breakpoint-up( md ) {
	.tab-vertical {
		display: flex;

		.tab-embed {
			min-width: 23%;
			max-width: 40%;
			margin-right: px-to-rem( 30px );
		}

		.tab-content {
			padding-top: 0;
		}
	}

	* + .tab { margin-top: 35px; }
}

@include media-breakpoint-up( lg ) {
	* + .tab { margin-top: px-to-rem( 48px ); }
}

@include media-breakpoint-up( xl ) {
	.tab-vertical {
		.tab-embed {
			margin-right: px-to-rem( 100px );
		}
	}
}
