// Variables
$pag-simple-color: $gray-400;
$pag-simple-active-color: $primary;
$pag-simple-disabled-color: $pagination-disabled-color;

// Base
.pag-1 {
	font-size: $h4-font-size;
	line-height: $h4-line-height;

	.pag-simple-link {
		position: relative;
		z-index: 0;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		color: $pag-simple-color;
		transition: $transition-base;

		&:hover {
			color: $pag-simple-active-color;
		}

		&.inactive {
			pointer-events: none;
		}
	}

	.pag-simple-item {
		&.active {
			.pag-simple-link {
				color: $pag-simple-active-color;
			}
		}

		&.disabled {
			.pag-simple-link {
				color: $pag-simple-disabled-color;
				pointer-events: none;
				opacity: .7;
			}
		}
	}

	.pag-simple-item + .pag-simple-item { margin-left: px-to-rem( 20px ); }
}

* + .pag-1 { margin-top: 80px * $xs-multiplier }


// Media
@include media-breakpoint-up( lg ) {
	.pag-1 {
		.pag-simple-item + .pag-simple-item { margin-left: px-to-rem( 40px ); }
	}

	* + .pag-1 { margin-top: 80px * $lg-multiplier }
}

@include media-breakpoint-up( xxl ) {
	* + .pag-1 { margin-top: 80px }
}