//- Pagination simple
	@param {array} data - pagination data array
	@param {object} item - single item object
	@param {string} item.value - item value
	@param {string} [item.prev] - set prev button to pagination
	@param {string} [item.next] - set next button to pagination
	@param {string} [item.actionClass] - add action class to item
mixin pag-1( data )
	ul.pag.pag-1&attributes( attributes )
		each item in data
			li.pag-simple-item( class= item.actionClass )
				if ( item.prev )
					a.pag-simple-link.pag-simple-link-prev( href='#' )
						span.mdi-arrow-left.novi-icon
						span Prev
				else if ( item.next )
					a.pag-simple-link.pag-simple-link-next( href='#' )
						span Next
						span.mdi-arrow-right.novi-icon
				else
					a.pag-simple-link( class= ( item.class ? item.class : '' ), href='#' )= item.value
