// Base
.breadcrumb-section {
	padding: px-to-rem( 50px, 0 );
}

// Media
@include media-breakpoint-up( lg ) {
	.breadcrumb-section {
		padding: px-to-rem( 68px * $lg-multiplier, 0 );
	}
}

@include media-breakpoint-up( xxl ) {
	.breadcrumb-section {
		padding: px-to-rem( 68px, 0, 52px );
	}
}