@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/button-group";
@import "../base/mixins";


// Base
.btn {
	position: relative;
	z-index: 0;
	display: inline-block;
	text-align: center;
	border: $btn-border-width solid transparent;
	font-family: $btn-font-family;
	font-weight: $btn-font-weight;
	text-transform: capitalize;
	color: $white;
	background: $primary;
	transition: $transition-base;
	line-height: $btn-line-height;

	@include button-size(
		$btn-padding-y,
		$btn-padding-x,
		$btn-font-size,
		$btn-border-radius
	);

	&:hover,
	&.hover,
	&:active,
	&.active {
		text-decoration: none;
		color: $white;
		background: rgba( $primary, .5 );
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	&.disabled,
	&:disabled {
		opacity: $btn-disabled-opacity;
		pointer-events: none;
	}
}


// Theming
.btn-outline {
	color: $gray-900;
	background: transparent;
	border-color: $primary;

	&:hover {
		color: $white;
		background-color: $primary;
	}
}

.btn-shadow {
	box-shadow: $box-shadow;

	&:hover {
		box-shadow: none;
	}
}

.btn-block {
	display: flex;
	width: 100%;
}


// Button icon
.btn-icon {
	font-size: 1.3em;
	margin: -2px px-to-rem( 10px ) 0;
	vertical-align: middle;

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}
}


// Sizing
.btn-lg {
	@include button-size( $btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg );
	line-height: $btn-line-height-lg;
}

.btn-sm {
	@include button-size( $btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm );
	line-height: $btn-line-height-sm;
}


// Buttons groups
.btn-group-1 {
	@include group( px-to-rem( 30px ), px-to-rem( 15px ) )
}

// Spacing
p + .btn {
	margin-top: px-to-rem( 67px * $xs-multiplier );
}

.list-marked + .btn {
	margin-top: px-to-rem( 50px * $xs-multiplier );
}

.xsmall + .btn {
	margin-top: px-to-rem( 53px * $xs-multiplier );
}

p + .btn-group-1 {
	margin-top: px-to-rem( 25px )
}


// Context dark
.context-dark {
	.btn-outline {
		color: $white;
		background: $dark;
		border-color: $dark;

		&:hover {
			color: $dark;
			background-color: $white;
			border-color: $white;
		}
	}
}

// Media
@include media-breakpoint-up( lg ) {
	p + .btn {
		margin-top: px-to-rem( 67px * $lg-multiplier );
	}

	.xsmall + .btn {
		margin-top: px-to-rem( 53px * $lg-multiplier );
	}

	.list-marked + .btn {
		margin-top: px-to-rem( 50px * $lg-multiplier );
	}
}

@include media-breakpoint-up( xxl ) {
	.btn {
		min-width: 250px;
	}

	* + .btn {
		margin-top: px-to-rem( 67px );
	}

	.xsmall + .btn {
		margin-top: px-to-rem( 53px );
	}

	.list-marked + .btn {
		margin-top: px-to-rem( 50px );
	}
}
