@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";


// Base
.link {
	position: relative;
	display: inline-block;
}

.link-active {
	color: $link-hover-color;
}

.link-inherit {
	color: inherit;

	&:hover {
		color: $primary;
	}
}

// Theming
.link-dark {
	color: $dark;

	&:hover {
		color: $primary;
	}
}


// Link button
.link-btn {
	font-family: $btn-font-family;
	font-weight: $btn-font-weight;
	color: $dark;
	transition: $transition-base;

	&:hover {
		color: $primary;
	}
}

.list-marked {
	.link-strike {
		display: inline;
	}
}

// Media
@include media-breakpoint-up( md ) {
	a.link-strike,
	a.link-strike-sm {
		position: relative;
		color: inherit;

		&::before {
			position: absolute;
			left: 0;
			top: 50%;
			width: 0;
			content: '';
			border-bottom: 2px solid;
			transform: translateY( -50% );
			transition: $transition-base;
		}

		&:hover {
			color: inherit;

			&::before {
				width: 100%;
			}
		}
	}

	a.link-strike-sm {
		&::before {
			border-bottom-width: 1px;
		}
	}
}
