@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";


// Base
.blog-post-title {
	line-height: 1.4;
	letter-spacing: .1em;
}

.blog-post {
	* + .blog-post-item { margin-top: px-to-rem( 103px * $xs-multiplier ) }
	* + img { margin-top: px-to-rem( 32px * $xs-multiplier ) }
	img + p { margin-top: px-to-rem( 70px * $xs-multiplier ) }
	* + .row-text { margin-top: px-to-rem( 67px * $xs-multiplier ) }
	.row-text + p { margin-top: px-to-rem( 78px * $xs-multiplier ) }
}


// Media
@include media-breakpoint-up( lg ) {
	.blog-post {
		* + .blog-post-item { margin-top: px-to-rem( 103px * $lg-multiplier ) }
		* + img { margin-top: px-to-rem( 32px * $lg-multiplier ) }
		img + p { margin-top: px-to-rem( 70px * $lg-multiplier ) }
		* + .row-text { margin-top: px-to-rem( 67px * $lg-multiplier ) }
		.row-text + p { margin-top: px-to-rem( 78px * $lg-multiplier ) }
	}
}

@include media-breakpoint-up( xxl ) {
	.blog-post {
		* + .blog-post-item { margin-top: px-to-rem( 103px ) }
		* + img { margin-top: px-to-rem( 32px ) }
		img + p { margin-top: px-to-rem( 70px ) }
		* + .row-text { margin-top: px-to-rem( 67px ) }
		.row-text + p { margin-top: px-to-rem( 78px ) }
	}
}