@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../base/mixins";
@import "../bootstrap/scss/mixins";


// Base
.divider {
	display: block;
	font-size: 0;
	line-height: 0;

	&:before {
		display: inline-block;
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;
		content: "";
		border-top: 1px solid $border-color;
	}
}


// Modifying
.divider-1 {
	&:before {
		width: 42px;
		border-top: 6px solid $secondary;
	}
}

.divider-2 {
	&:before { width: 130px; }
}

.divider-3 {
	&:before {
		width: 99px;
		border-top: 4px solid $light;
	}
}


// Context dark
.context-dark {
	.divider {
		&:before {
			border-top-color: rgba( $white, .3 );
		}
	}
}
