// Variables
$nav-link-color: $gray-900;
$nav-link-active-color: $primary;
$nav-link-hover-color: $nav-link-active-color;
$nav-link-border: 1px solid $border-color;
$nav-link-decoration-color: $primary;


// Classic nav
.nav-line,
.nav-line-vertical {
	position: relative;
	justify-content: center;

	&::before {
		position: absolute;
		left: 0;
		bottom: 2px;
		width: 100%;
		content: '';
		border-bottom: $nav-link-border;
	}

	.nav-item {
		margin-right: px-to-rem( 25px );
	}

	.nav-link {
		position: relative;
		padding: 0 0 5px;
		font-weight: 400;
		color: $nav-link-color;

		&::after {
			position: absolute;
			left: 50%;
			bottom: 0;
			width: 0;
			height: px-to-rem( 5px );
			content: '';
			background-color: $nav-link-decoration-color;
			transform: translateX( -50% );
			border-radius: $border-radius;
			transition: $transition-base;
		}

		&:hover {
			color: $nav-link-hover-color;
		}

		&.active {
			color: $nav-link-active-color;

			&::after {
				width: 100%;
			}
		}
	}
}


// Media
@include media-breakpoint-up( md ) {
	.nav-line-vertical {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		overflow: inherit;

		&::before {
			display: none;
		}

		.nav-item {
			width: 100%;
			margin-right: 0;
		}

		.nav-link {
			white-space: normal;

			&::before {
				position: absolute;
				left: 0;
				bottom: 2px;
				width: 100%;
				content: '';
				border-bottom: $nav-link-border;
			}

			&::after {
				left: 0;
				transform: none;
			}

			&.active {
				&::after {
					width: px-to-rem( 48px );
				}
			}
		}

		.nav-item + .nav-item {
			margin-top: px-to-rem( 15px );
		}
	}
}


@include media-breakpoint-up( lg ) {
	.nav-line {
		.nav-item {
			margin-right: px-to-rem( 57px );
		}

		.nav-link {
			padding: 0 0 px-to-rem( 18px );
		}
	}

	.nav-line-vertical {
		.nav-item + .nav-item {
			margin-top: px-to-rem( 35px );
		}
	}
}
