@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";

// Variables
$table-cell-padding: px-to-rem( 20px, 32px );
$table-head-padding: px-to-rem( 21px, 28px, 15px );
$table-cell-padding-sm: px-to-rem( 10px, 32px );
$table-striped-order: even;
$table-accent-bg: $gray-200;
$table-hover-bg: $gray-200;

$table-head-bg: transparent;

@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/tables";


// Base
.table {
	th,
	td {
		border-top: $table-border-width solid $table-border-color;
	}

	thead th {
		min-width: 110px;
		padding: $table-head-padding;
		font-size: $font-size-base;
		font-weight: $font-weight-base;
		background-color: $table-head-bg;
		border-bottom: 2px solid $table-border-color;
	}

	> :not(:last-child) > :last-child > th {
		border-bottom-color: $table-border-color;
	}

	tfoot {
		tr {
			font-weight: 700;
			border-bottom: $table-border-width solid $table-border-color;
		}
	}

	> :not( caption ) {
		> * > * {
			padding: $table-cell-padding;
			border-bottom-width: 0;
		}
	}
}


// Modifying
.table-md {
	td {
		padding: px-to-rem( 24px, 30px );
	}
}

.table-striped {
	tfoot tr {
		border-top: $table-border-width solid $table-accent-bg;
	}
}

.table-head-primary {
	thead th {
		background-color: $primary;
		color: $white;
	}
}

.table-align-middle {
	td {
		vertical-align: middle;
	}
}


// Spacing
* + .table-container { margin-top: px-to-rem( 40px * $xs-multiplier ) }


// Media
@include media-breakpoint-up( lg ) {
	* + .table-container { margin-top: px-to-rem( 40px * $lg-multiplier ) }
}

@include media-breakpoint-up( xxl ) {
	* + .table-container { margin-top: px-to-rem( 40px ) }
}