//- Post simple
	@param {object} data - data object
	@param {string} data.img - post image
	@param {string} data.title - post title
	@param {string} data.text - post text
mixin post-simple( data )
	// Post simple
	.post.post-simple&attributes( attributes )
		.post-title: a( href='single-post.html' )= data.title
		ul.post-meta.list.text-400.xsmall
			li.list-item= 'By' + data.meta[0]
			li.list-item= data.meta[1]
