// Base
.post-simple {
	.post-title {
		font-weight: 500;
		font-size: $font-size-sm;
		line-height: 1.4;
		letter-spacing: .1em;
		color: $headings-color;
	}

	.post-meta {
		font-size: px-to-rem( 12px );
	}

	* + .post-meta { margin-top: px-to-rem( 14px * $xs-multiplier ) }
}

.post-simple + .post-simple { margin-top: px-to-rem( 24px * $xs-multiplier ) }

// Media
@include media-breakpoint-up( lg ) {
	.post-simple {
		* + .post-meta { margin-top: px-to-rem( 14px * $lg-multiplier ) }
	}

	.post-simple + .post-simple { margin-top: px-to-rem( 24px * $lg-multiplier ) }
}

@include media-breakpoint-up( xxl ) {
	.post-simple {
		* + .post-meta { margin-top: px-to-rem( 14px ) }
	}

	.post-simple + .post-simple { margin-top: px-to-rem( 24px ) }
}
