include _navigation

mixin rd-navbar
	//RD Navbar
	header.section.rd-navbar-wrap( data-preset!={ title:'Navbar Default', category:'header', reload:true, id:'navbar-default' } )
		nav.rd-navbar.navbar-centered( data-rd-navbar={
			responsive: {
				1200: {
					stickUpOffset: '200px'
				}
			}
		} )&attributes( attributes )
			.navbar-section.navbar-non-stuck
				.navbar-container
					.navbar-cell
						.navbar-panel
							button.navbar-switch.mdi-menu.novi-icon( data-multi-switch!= {
								targets: '.rd-navbar',
								scope: '.rd-navbar',
								isolate: '[data-multi-switch]'
							})

							.navbar-logo
								a.navbar-logo-link( href= homePage.link )
									+img( logo.default, {retina: true} ).navbar-logo-default( alt= logo.name )
									+img( logo.inverse, {retina: true} ).navbar-logo-inverse( alt= logo.name )

			.navbar-section
				.navbar-container
					.navbar-cell.navbar-sidebar
						+navigation( menu )
