@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";


// Base
.cloud {
	padding: px-to-rem( 30px, 15px );
	background-color: $white;
	border-radius: $border-radius;
	@include cloud-item( 10px );
}

.cloud-top {
	@include cloud-item( 10px, top );
}

.cloud-left {
	@include cloud-item( 10px, left );
}

.cloud-right {
	@include cloud-item( 10px, right );
}

.cloud-bottom {
	@include cloud-item( 10px, bottom );
}

// Media
@include media-breakpoint-up( lg ) {
	.cloud {
		padding: px-to-rem( 50px, 20px );
	}
}


// Layouts
@import "cloud-1";