/**
 * To Top
 */

@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";


div.to-top {
	position: fixed;
	bottom: 5vh;
	right: 5vw;
	transform: scale(0);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	font-size: px-to-rem( 25px );
	box-shadow: $btn-box-shadow;
	opacity: 0;
	background: $primary;
	color: color-contrast( $primary );
	will-change: transform;
	z-index: 10;
	cursor: pointer;
	transition: .2s;

	&::after {
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		content: '';
		background: $gray-400;
		transform: scale( 0 );
		transition: $transition-base;
	}

	&.show {
		transform: scale(1);
		opacity: 1;
		transition: all .2s, transform .2s cubic-bezier(0.5, 0, 1, 2);
	}

	&.active,
	&:hover {
		&::after {
			transform: scale( 1 );
		}
	}
}
