@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";

// Base
.template-info-title {
	font-size: $h5-font-size;
	line-height: $h5-line-height;
	letter-spacing: .04em;
}

.template-info-fonts-base {
	font-size: $h5-font-size;
	line-height: $h5-line-height;
	color: $headings-color;
}

.template-info-colors {
	display: flex;
	flex-wrap: wrap;
	@include group( 10px );
}

.template-info-color {
	width: px-to-rem( 60px );
	height: px-to-rem( 60px );
	background-color: $primary;
	border-radius: 50%;
}

.template-info-color-primary {
	background-color: $primary;
};

.template-info-color-secondary {
	background-color: $secondary;
};

.template-info-color-400 {
	background-color: $gray-400;
};


// Spacing
* + .template-info-title { margin-top: px-to-rem( 30px ) }
* + .template-info-fonts { margin-top: px-to-rem( 5px ) }
* + .template-info-colors { margin-top: px-to-rem( 16px ) }


// Media
@include media-breakpoint-up( xl ) {
	.template-info {
		padding-left: px-to-rem( 100px );
	}

	* + .template-info-title { margin-top: px-to-rem( 69px ) }
	* + .template-info-fonts { margin-top: px-to-rem( 15px ) }
	* + .template-info-fonts-base { margin-top: px-to-rem( 15px ) }
	* + .template-info-colors { margin-top: px-to-rem( 24px ) }
}
