extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumb/_breadcrumb

block variables
	- pageName = 'Coming soon';

block page
	include ../components/section/_coming-soon
