extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumb/_breadcrumb

block variables
	- pageName = 'Grid';

block page
	+rd-navbar
	+breadcrumb-section
	include ../components/section/_grid
	include ../components/footer/_footer-default
