extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Home';

block page
	+rd-navbar
	include ../components/section/_intro
	include ../components/section/_about-us
	include ../components/section/_features
	include ../components/section/_features-2
	include ../components/section/_call-to-action
	include ../components/footer/_footer-default
