extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumb/_breadcrumb

block variables
	- pageName = 'Single service';

block page
	+rd-navbar
	+breadcrumb-section
	include ../components/section/_services-list-3
	include ../components/section/_services-list-4
	include ../components/footer/_footer-default
