extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumb/_breadcrumb

block variables
	- pageName = 'Tabs';

block page
	+rd-navbar
	+breadcrumb-section

	include ../components/section/_tab-line
	include ../components/section/_tab-line-vertical
	include ../components/footer/_footer-default
