// Base
.box-creative {
	position: relative;

	* + .row {
		margin-top: 0; }
}

.box-creative-bg {
	position: absolute;
	top: 130px;
	left: 0;
	right: 0;
	bottom: 5%;
}

.box-creative-content {
	padding-bottom: px-to-rem( 30px );
}


// Media
@include media-breakpoint-up( xs ) {
	.box-creative {
		padding-top: 30px;
	}

	.box-creative-bg {
		top: 0;
		left: 10%;
		bottom: 10%;
	}
}

@include media-breakpoint-up( md ) {
	.box-creative {
		padding-top: px-to-rem( 103px * $xs-multiplier );
	}

	.box-creative-content {
		padding-bottom: 0;
		padding-top: px-to-rem( 101px * $xs-multiplier );
	}
}

.text-block-1 + .box-creative { margin-top: px-to-rem( 68px * $xs-multiplier ) }

@include media-breakpoint-up( lg ) {
	.box-creative {
		padding-top: px-to-rem( 103px * $lg-multiplier );
	}

	.box-creative-content {
		padding-top: px-to-rem( 101px * $lg-multiplier );
	}

	.box-creative-bg {
		bottom: 18%;
	}

	.text-block-1 + .box-creative { margin-top: px-to-rem( 68px * $lg-multiplier ) }
}

@include media-breakpoint-up( xxl ) {
	.box-creative {
		padding-top: px-to-rem( 103px );
	}

	.box-creative-bg {
		bottom: 28%;
	}

	.box-creative-content {
		padding-top: px-to-rem( 101px );
	}

	.text-block-1 + .box-creative { margin-top: px-to-rem( 68px ) }
}