// Base
.box-action {
	position: relative;
	max-width: 870px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 10px;

	.box-bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}

	.box-inner {
		padding: px-to-rem( 50px, 15px );
		background-color: rgba( $white, .8 );
	}
}




// Media
@include media-breakpoint-up( md ) {
	.box-action {
		max-width: 570px;
		margin-bottom: 5%;
		padding: 12% 10% 9%;

		.box-inner {
			padding: 16% 17%;
		}

		.box-bg {
			transform: translate( -10%, 8% );
		}
	}
}

@include media-breakpoint-up( xl ) {
	.box-action {
		max-width: 770px;
		margin-bottom: 5%;

		.box-bg {
			transform: translate( -17%, 8% );
		}
	}
}

@include media-breakpoint-up( xxl ) {
	.box-action {
		max-width: 870px;
		padding: 12% 10% 9%;

		.box-inner {
			padding: 16% 17%;
		}
	}
}