//- Person
	@param {object} data - data object
	@param {string} data.img - person image
	@param {string} data.title - person name
	@param {string} data.meta - person meta
	@param {string} data.text - person text
mixin person-1( data )
	// Person
	.person&attributes( attributes )
		.person-media
			+img( data.img ).person-img
		.person-title.h4.ls01.lh140= data.title
		.person-text= data.text
		ul.person-meta.list.text-400.xsmall
			li.list-item= 'Posted' + data.meta[0]
			li.list-item= data.meta[1]
