@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";

// Base
.person-link {
	display: inline-block;
}

.person-img {
	border-radius: 50%;
}

.person-text {
	font-size: $font-size-xs;
	line-height: 1.9;
}

.person-meta {
	line-height: 1.9;
}

* + .person-title { margin-top: px-to-rem( 30px * $xs-multiplier ) }
* + .person-text { margin-top: px-to-rem( 11px * $xs-multiplier ) }
* + .person-meta { margin-top: px-to-rem( 20px * $xs-multiplier ) }


// Media
@include media-breakpoint-up( lg ) {
	* + .person-title { margin-top: px-to-rem( 30px * $lg-multiplier ) }
	* + .person-text { margin-top: px-to-rem( 11px * $lg-multiplier ) }
	* + .person-meta { margin-top: px-to-rem( 20px * $lg-multiplier ) }
}

@include media-breakpoint-up( xxl ) {
	* + .person-title { margin-top: px-to-rem( 30px ) }
	* + .person-text { margin-top: px-to-rem( 11px ) }
	* + .person-meta { margin-top: px-to-rem( 20px ) }
}