@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins/breakpoints";
@import "../bootstrap/scss/mixins/container";
@import "../bootstrap/scss/mixins/grid";
@import "../bootstrap/scss/containers";
@import "../bootstrap/scss/grid";
@import "grid-spacing";

// Base
.row-15 {
	@include grid-spacing( 15px );
}

.row-20 {
	@include grid-spacing( px-to-rem( 20px ) );
}

.row-30 {
	@include grid-spacing( px-to-rem( 30px ) );
}

.row-40 {
	@include grid-spacing( px-to-rem( 40px ) );
}

.row-50 {
	@include grid-spacing( px-to-rem( 50px ) );
}


// Spacing
* + .row {
	margin-top: px-to-rem( 40px );
}

* + .row-content {
	margin-top: px-to-rem( 25px );
}

h4 + .row-content {
	margin-top: px-to-rem( 80px * $xs-multiplier );
}

* + .row-offset {
	margin-top: px-to-rem( 80px * $xs-multiplier );
}

.row-offset + .row-offset {
	margin-top: px-to-rem( 100px * $xs-multiplier );
}

// Grid sample
.grid-sample {
	text-align: center;
	border-bottom: 1px solid $dark;
	border-right: 1px solid $dark;

	[ class*='col-' ] {
		padding: 26px 10px;
		border-top: 1px solid $dark;
		border-left: 1px solid $dark;
		font-size: px-to-rem( 14px );

		p {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}


// Media
@include media-breakpoint-up( lg ) {
	.row-lg-60 {
		@include grid-spacing( px-to-rem( 60px ) );
	}

	h4 + .row-content {
		margin-top: px-to-rem( 80px * $lg-multiplier );
	}

	* + .row-offset {
		margin-top: px-to-rem( 80px* $lg-multiplier );
	}

	.row-offset + .row-offset {
		margin-top: px-to-rem( 100px * $lg-multiplier );
	}
}

@include media-breakpoint-up( xl ) {
	.row-xl-100 {
		@include grid-spacing( px-to-rem( 100px ) );
	}

	.grid-sample {
		[ class*='col-' ] {
			padding: 40px 10px;

			p {
				overflow: visible;
				white-space: normal;
				text-overflow: inherit;
			}
		}
	}
}

@include media-breakpoint-up( xxl ) {
	.row-xxl-130 {
		@include grid-spacing( px-to-rem( 130px ) );
	}

	h4 + .row-content {
		margin-top: px-to-rem( 80px );
	}

	* + .row-offset {
		margin-top: px-to-rem( 80px );
	}

	.row-offset + .row-offset {
		margin-top: px-to-rem( 100px );
	}
}