@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";


// Mixins
@mixin text-block-center {
	margin-left: auto;
	margin-right: auto;
}


// Modifying
.text-block-1 {
	max-width: 780px;
	@include text-block-center;
}


// Spacing
* + .text-block-1 { margin-top: px-to-rem( 25px ) }


// Media
@include media-breakpoint-up( lg ) {
	* + .text-block-1 { margin-top: px-to-rem( 36px ) }
}
