// Base
.counter-simple + .counter-simple {
	margin-top: px-to-rem( 66px * $xs-multiplier );
}


// Media
@include media-breakpoint-up( lg ) {
	.counter-simple + .counter-simple {
		margin-top: px-to-rem( 66px * $lg-multiplier );
	}
}

@include media-breakpoint-up( xxl ) {
	.counter-simple + .counter-simple {
		margin-top: px-to-rem( 66px );
	}
}
