@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";

// Intro
.intro {
	position: relative;
	z-index: 0;
	padding: px-to-rem( 45px, 20px );
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	&::before {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		content: '';
		background-color: rgba( $white, .5 );
	}
}

.intro-title {
	font-weight: 200;
}


// Media
@include media-breakpoint-up( sm ) {
	.intro {
		padding: px-to-rem( 60px, 30px );
	}
}

@include media-breakpoint-up( md ) {
	.intro {
		padding: 23% 0 5% 46%;
		background-size: contain;
		background-position: top left;

		&::before {
			display: none;
		}
	}
}

@include media-breakpoint-up( xxl ) {
	.intro {
		padding: 35% 0 8% 62%;
	}

	.intro-title {
		min-width: 700px;
	}
}
