@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../base/mixins";
@import "../bootstrap/scss/mixins";


// Base
.snackbar {
	margin-bottom: 0;
	padding: px-to-rem( 20px );
	font-size: $font-size-sm;
	border-radius: $border-radius;
}

.snackbar-inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	@include group( 10px, 10px );
}

.snackbar-title {
	font-weight: $headings-font-weight;
}

.snackbar-icon {
	margin-right: .7em;
	vertical-align: middle;
}


// Theming
@each $color, $value in $theme-colors {
	.snackbar-#{$color} {
		background-color: shift-color( $value, $alert-bg-scale );
		.snackbar-title {
			color: $value;
		}
	}
}


// Spacing
.snackbar + .snackbar { margin-top: px-to-rem( 30px ); }


// Media
@include media-breakpoint-up( lg ) {
	.snackbar {
		padding: px-to-rem( 17px, 20px );
	}
}
