// Base
.cloud-1 {
	&::before {
		width: 18px;
		height: 18px;
	}

	&.cloud-top {
		margin-bottom: 18px;

		&::before {
			transform: translate(-50%, -48%) skewY(-45deg);
		}
	}

	&.cloud-left {
		margin-right: 18px;

		&::before {
			transform: translate(-48%, -50%) skewX(45deg);
		}
	}

	&.cloud-right {
		margin-left: 18px;

		&::before {
			transform: translate(-52%, -50%) skewX(45deg);
		}
	}

	&.cloud-bottom {
		margin-top: 18px;

		&::before {
			transform: translate(-50%, -52%) skewY(45deg);
		}
	}
}
