extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumb/_breadcrumb

block variables
	- pageName = '404';

block page
	include ../components/section/_404
