extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumb/_breadcrumb

block variables
	- pageName = 'About me';

block page
	+rd-navbar
	+breadcrumb-section
	include ../components/section/_about-me
	include ../components/section/_about-us-2
	include ../components/section/_counters
	include ../components/footer/_footer-default
