extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumb/_breadcrumb

block variables
	- pageName = 'Counters';

block page
	+rd-navbar
	+breadcrumb-section
	include ../components/section/_counter-simple
	include ../components/section/_counter-simple-dark-bg
	include ../components/section/_counter-boxed
	include ../components/footer/_footer-default
