extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumb/_breadcrumb

block variables
	- pageName = 'Forms';

block page
	+rd-navbar
	+breadcrumb-section
	include ../components/section/_contact-form
	include ../components/section/_contact-form-recaptcha
	include ../components/section/_newsletter-inline
	include ../components/section/_mailchimp
	include ../components/section/_campaign-mailform
	include ../components/footer/_footer-default
