extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumb/_breadcrumb

block variables
	- pageName = 'Services';

block page
	+rd-navbar
	+breadcrumb-section
	include ../components/section/_features-3
	include ../components/section/_services-list-1
	include ../components/section/_services-list-2
	include ../components/footer/_footer-default
