extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumb/_breadcrumb

block variables
	- pageName = 'Typography';

block page
	+rd-navbar
	+breadcrumb-section
	include ../components/section/_typography-type
	include ../components/section/_typography-paragraphs
	include ../components/section/_list-sample
	include ../components/footer/_footer-default
