@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";


// Contexts
.context-dark {
	.rights-link {
		color: $white;

		&:hover {
			color: rgba( $white, .5 );
		}
	}
}
