/** @section Reset*/
*:focus,
button:focus {
	outline: none;
}

h1, h2, h3, h4, h5, h6, p, button, dl, blockquote, figure, label {
	padding: 0;
	margin: 0;
}

ul, ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

dd {
	margin-bottom: 0;
}

a,
a:hover {
	text-decoration: none;
}

img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

blockquote {
	margin-bottom: 0;

	q {
		&:before,
		&:after {
			content: none;
		}
	}

	cite {
		font-style: normal;
	}
}

pre {
	margin-bottom: 0;
}

address {
	margin-bottom: 0;
}

button {
	background-color: transparent;
	border: none;
}
