/** @section Text styling*/

// Gray colors
@each $color, $value in $grays {
	.text-#{$color} {
		color: $value;
	}
}

.text-strike {
	text-decoration: line-through;
}

.text-large {
	font-size: px-to-rem( 130px );
	line-height: 1;
}


// Media
@include media-breakpoint-up( xl ) {
	.text-large {
		font-size: px-to-rem( 200px );
		line-height: 1;
	}
}
