/** @section Typography*/
html {
	font-size: 14px;

	@include media-breakpoint-up( lg ) {
		font-size: 15px;
	}

	@include media-breakpoint-up( xxl ) {
		font-size: 16px;
	}
}

body {
	font-size: px-to-rem( 18px );
	line-height: 1.7;

	@include media-breakpoint-up( lg ) {
		font-size: $font-size-base;
		line-height: $line-height-base;
	}
}

// Headings
#{headings()} {
	margin: 0;

	a {
		color: inherit;

		&:hover {
			color: $link-hover-color;
		}
	}
}

h1, .h1 {
	font-size: $font-size-base * 2;
	line-height: 1.2;
	letter-spacing: .2em;

	@include media-breakpoint-up( xl ) {
		font-size: $h1-font-size;
		line-height: $h1-line-height;
		letter-spacing: .3em;
	}
}

h2, .h2 {
	font-size: $font-size-base * 1.8;
	line-height: 1.2;

	@include media-breakpoint-up( xl ) {
		font-size: $h2-font-size;
		line-height: $h2-line-height;
	}
}

h3, .h3 {
	font-size: $font-size-base * 1.4;
	line-height: 1.25;

	@include media-breakpoint-up( xl ) {
		font-size: $h3-font-size;
		line-height: $h3-line-height;
	}
}

h4, .h4 {
	font-size: $font-size-base * 1.1;
	line-height: $h4-line-height;
	letter-spacing: .2em;

	&.ls01 {
		letter-spacing: .1em;
	}

	&.lh140 {
		line-height: 1.45;
	}

	@include media-breakpoint-up( xl ) {
		font-size: $h4-font-size;
		letter-spacing: .3em;
	}
}

h5, .h5 {
	font-size: $font-size-base * 1;
	line-height: 1.35;
	letter-spacing: .15em;

	@include media-breakpoint-up( xl ) {
		font-size: $h5-font-size;
		line-height: $h5-line-height;
		letter-spacing: .3em;
	}
}

h6, .h6 {
	font-size: $font-size-base * 0.8;
	line-height: $h6-line-height;
	letter-spacing: .2em;

	@include media-breakpoint-up( xl ) {
		font-size: $h6-font-size;
	}
}

.title-1 {
	font-weight: 400;
	font-size: $font-size-base * 0.8;
	line-height: $h6-line-height;
	letter-spacing: .2em;

	@include media-breakpoint-up( xl ) {
		font-size: $h6-font-size;
	}
}

// Big
.big {
	font-size: $font-size-lg;
	line-height: $line-height-lg;
}

// Extra small
.xsmall {
	font-weight: 400;
	font-size: $font-size-xs;
	line-height: $line-height-xs;
	letter-spacing: .2em;
}

// Extra small
.small {
	font-size: $font-size-sm;
	line-height: $line-height-sm;
}

// Link
a {
	transition: color .2s;
}

// Emphasis
mark,
.mark {
	padding: $mark-padding;
	color: color-contrast( $mark-bg );
}


// Underline text
u {
	text-decoration: none;
	border-bottom: 2px solid rgba( $secondary, .4 );
}


// Bold text
strong {
	font-weight: $font-weight-bold;
}


// Context Dark
.context-dark {
	color: $white;

	#{headings()} {
		color: $white;
	}
}
