include ../logo/_logo
include ../rights/_rights

// Footer default
footer.section.footer.bg-transparent.text-center
	.container
		.row.justify-content-center
			.col-xl-8
				p
					| Tell me about your story, your passion, or your idea.
					br
					| And I'll be happy to get back to you and talk about the tailor-made photo shoot. Let's connect here.
				.footer-tel.h3: a( href='tel:#' ) +1 256 10 87 000
				.footer-address.title-1 4401 Waldeck Street Grapevine, Nashville, TX 76051
				.footer-mail.title-1: a.link.link-strike-sm( href='mailto:#' ) info@demolink.org
				+logo
				ul.list.list-inline
					li.list-inline-item: a.link.link-strike-sm( href='#' ) facebook
					li.list-inline-item: a.link.link-strike-sm( href='#' ) instagram
				+rights
